@charset "UTF-8";

:root{
    --tit: Tahoma, sans-serif;
    --fp: Arial, Helvetica, sans-serif;


    --cor0: #0d29ff96;
    --cor1: #0A22D1;
    --cor2: #081AA3;
    --cor3: #081896;
    --cor4: #06147D;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fp);
}

header {
    padding-top: 30px;
    font-family: var(--tit);
    background-image: linear-gradient(to bottom, var(--cor1), rgba(0, 0, 0, 0.877));
    box-shadow: 0px 1px 10px 0px black;
    min-height: 150px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.767);
}
header > h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
header > h3{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px ;
    max-width: 1000px;
    min-width: 400px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.747);
    margin-bottom: 20px;
}
main p{
    text-indent: 13px;
    padding: 13px;
    font-weight: bold;
    line-height: 1.5em;
}
main h1{
    padding: 10px 10px 15px 10px;
    color: var(--cor4);
    font-size: 1.8em;
    text-indent: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}
main h2{
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
}
main h3{
    margin: 10px;
}

a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.171);
    color: var(--cor3);
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: var(--cor3);
    background-color: var(--cor0);
    transition-duration: .5s;
    transition-timing-function: .5s;
}
.imgs{
    width: 73%;
    margin: auto;
    display: block;
}
mark{
    background-color: var(--cor0);
    border-radius: 3px;
    padding: 2px;
}

ul{
    list-style-position: inside;
    text-indent: 15px;
    line-height: 25px;
}
ul li{
    text-indent: 30px;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: white;
}