@charset "UTF-8";

:root{
    --tit: Tahoma, sans-serif;
    --fp: Verdana, sans-serif;


    --cor0: #357cded2;
    --cor1: #0932E8;
    --cor2: #2317FF;
    --cor3: #280187;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fp);
}

header {
    padding-top: 30px;
    font-family: var(--tit);
    background-image: linear-gradient(to bottom, var(--cor2), rgba(0, 0, 0, 0.644));
    box-shadow: 0px 1px 10px 0px black;
    min-height: 150px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.767);
}
header > h1{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
header > h3{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px ;
    max-width: 1000px;
    min-width: 400px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.747);
}
main img{
    width: 100%;
}
main p{
    text-indent: 11px;
    padding: 13px;
    font-weight: bold;
    line-height: 1.5em;
}
main h1{
    padding: 10px;
    color: var(--cor2);
    font-size: 1.8em;
    text-indent: 15px;
    margin-bottom: 10px;
}
main h2{
    padding: 10px;
    font-size: 1.5em;
    margin: 10px;
}
.imgs{
    width: 80%;
    margin: auto;
    display: block;
}

ul{
    list-style-position: inside;
    text-indent: 15px;
    line-height: 25px;
}
ul li{
    text-indent: 30px;
}